.welcome-page {
    display: flex;
    justify-content: center;
}
.welcome-container {
    margin-top: auto;
    text-align: center;
    button {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}
