@import '../../_partials/variables';
:host {
    display: block;
    max-height: $main-section-desktop-height;
    overflow-y: auto;
}
.welcome-page {
    display: flex;
    justify-content: center;
    .welcome-container {
        height: 72%;
        margin-top: auto;
        text-align: center;
        .button-container {
            display: flex;
            justify-content: center;
            button {
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    :host {
        margin-top: -18vh;
        max-height: $main-section-mobile-height;
    }
}
