<nav [ngClass]="{'loggedIn': username, 'loggedOut': !username}">
    <ul *ngIf="username" class="myFlix-links-nav-list">
        <li [ngClass]="{'active': currentRoute  === '/movies'}"><a routerLink="/movies">Movies</a></li>
    </ul>
    <ul class="logo-nav-list">
        <li class="logo">myFlix</li>
    </ul>
    <ul *ngIf="username" class="user-nav-list">
        <li>{{username}} <span (click)="toggleDropdownMenu()">{{!dropDownMenuOpen  ? '&#9660;' : '&#9650;'}}</span>
            <ul *ngIf="dropDownMenuOpen">
                <li [ngClass]="{'active': currentRoute  === '/profile'}"><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>