@import '../../_partials/variables';
$navbar-bg-color: $primary-color;
:host {
    display: block;
    height: 15vh;
}
* {
    box-sizing: border-box !important;
}
nav {
    align-items: center;
    height: 100%;
    background-color: $navbar-bg-color;
    color: #fff;
    display: flex;
    width: 100%;
    li {
        & a:hover {
            text-decoration: underline;
        }
        &.active {
            border: 2px solid rgb(214, 194, 228);
            border-radius: 5px;
            a {
                color: red;
                color:rgb(214, 194, 228);
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    ul {
        &.logo-nav-list {
            justify-content: center;
            width: 100%;
        }
        &.user-nav-list {
            justify-content: flex-end;
            min-width: 220px;
            padding-right: 40px;
            text-align: center; 
            li {
                position: relative;
                span {
                    cursor: pointer;
                    margin-left: 5px;
                }
                ul {
                    background-color: $navbar-bg-color;
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    position: absolute;
                    left: 0;
                    z-index: 1000; 
                    width: 100%;
                    li {
                        margin: 0;
                    }
                }
            } 
        }
        display: flex;
        list-style: none;
        li {
            margin: 1rem;
            padding: 8px;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    .logo {
        font-size: 2rem;
    }
}
@media screen and (max-width: 500px) {
    :host {
        display: block;
        height: 28vh;
    }
    nav {
        justify-content: center;
        flex-direction: column;
        &.loggedOut {
            height: 10vh;
        }
        ul {
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 0; 
            margin-left: 0;
            margin-right: 0;
            margin-top: 8px;
            padding-left: 8px;
            padding-right: 8px;
            text-align: left;
            width: 100%;
            &.user-nav-list {
                text-align: left;
            }
            li {
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}