<div class="movies-container">
    <div *ngIf="!movieId" class="search-container">
        <div class="search-icon-container">
            <mat-icon>search</mat-icon>
        </div>
        <input
            matInput
            placeholder="Search"
            (keyup)="searchMovies($event)"
            type="text"
            name="Search"
            required
        >
    </div>
    <div *ngIf="movies.length === 0" class="loading-spinner-container">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
    <a *ngIf="movieId" routerLink="/movies">Back to all movies</a>
    <div class="movies-row">
    <mat-card class="movie" *ngFor="let movie of movies;" >
        <mat-card-header>
        <mat-card-title>{{movie.name}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.image}} alt= {{movie.name}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="openGenreDialog(movie.genre)"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="openDirectorDialog(movie.director)"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="openMovieDialog(movie)"
            >
                Details
            </button>
            <mat-icon
                (click)="addUserFavoriteMovie(movie)"
                [ngClass]="{'favorited': userFavoriteMovies.includes(movie._id)}"
            >stars</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>
</div>