@import '../../_partials/variables';
.mat-card {
    box-shadow: $card-box-shadow;
    .mat-list {    
        .mat-list-item {
            & * {
                align-items: center;
                justify-content: space-between;
                width: 100%;
                text-align: center;
            }
            a {
                text-decoration: none;
            }
            div {
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 80%;
                .star {
                    width: 40%;
                }
            }
            .mat-icon.delete, .star {
                text-align: right;
                width: 20%;
            }
            .star {  
                text-align: left;
            }
        }
    }
}
