/* Colors */
$primary-color: #4b0080;
$secondary-color: #d6c2e4;
$delete-color: #9c0404;
$error-color: #cc5555;
$card-box-shadow: 1px 1px 8px;
$main-section-desktop-height: 85vh;
$main-section-mobile-height: 72vh;
